.Title{
    color: skyblue;
}

#lorem-text{
    background-color: yellow;
}

.Lorem{
    color:white;
    background-color: skyblue;
}

.riga-1{
    background-color: rgb(135, 200, 250);
}

#interessi
{
    color: gray;
}

.imgpc
{
position: relative;
text-align: left;
}
.bottom-left{
    position: absolute;
    bottom: 70%;
    left: 16px;
    color: white;
}

.booleaner2
{
    font-size: 48px;
    position: absolute;
    bottom: 80%;
    text-align: left;
    color:  white;
    font-style: italic;
}

header
{
    background-image: url(/Repo/img/pattern.png);
    background-size: 400px;
    height: 100px;
    background-color: aqua;
}
body
{
    margin: 0;
}

.titlefont
{
    margin-top: 40px;
    width: 200px;
}

.space
{
    padding: 10px;
    display: inline-block;
    letter-spacing: normal;
    border-spacing: 0px;
}