.Title{
    color: skyblue;
}

#lorem-text{
    background-color: yellow;
}

.Lorem{
    color:white;
    background-color: skyblue;
}

.riga-1{
    background-color: lightskyblue;
}

#interessi
{
    color: gray;
}

.imgpc
{
position: relative;
text-align: left;
}
.bottom-left{
    position: absolute;
    bottom: 70%;
    left: 16px;
    color: white;
}